.navbar {
  height: 120px;
  background-color: #4056A1;
  width: 100%;
}

.tweeter-span {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  font-size: xx-large;
}

.nav-span {
  position: relative;
  top: 1em;
  left: 1.0em;
}

.nav-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  font-size: x-large;
  float: right;
  position: fixed;
  top: 1em;
  right: 1.5em;
}